/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MV-SKIFER';
  src: url('/fonts/MV-SKIFER.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('/fonts/Onest-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('/fonts/Onest-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: clamp(4.27px, calc(100vw / 75), 16px);
  background-color: #04061B;
  color: #ffffff;
}

html {
  overscroll-behavior: contain;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #3624A6 #04061B;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #04061B;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #3624A6;
  border-radius: 4px;
}